.option-ul {

  overflow: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Roboto", "sans-serif";
}
.option-ul::-webkit-scrollbar {
  display: none;
}
#left {
  background: linear-gradient(to right, #000 50%, transparent);
}
#right {
  background: linear-gradient(to left, #000 50%, transparent);
}

/* image slider start */

.slider img {
  width: 100%;
  height: 600px;
  display: none; /* Hide images by default */
}
.slider img.active {
  display: flex; /* Show active image */
}
.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}
.slider .prev {
  left: 0;
}
.slider .next {
  right: 0;
}
/* image slider end */

/* progtess card start */
.progress-circle {
  display: block;
}

.progress-background {
  fill: none;
  stroke: #ddd;
  stroke-width: 8;
}

.progress-bar {
  fill: none;
  stroke: #3498db;
  stroke-width: 8;
  stroke-dasharray: 250; /* Circumference of the circle (2 * π * radius) */
  stroke-dashoffset: 250; /* Start with full circle */
  transition: stroke-dashoffset 0.5s ease-in-out; /* Smooth animation */
}

/* progtess card end */

/*search data start*/
#search-data{
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  place-items: center;
  margin-right: 12px;
}
/*search data end*/